.main-nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
.main-nav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style: none;
}
.main-nav__list li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
  background: #81b3d2;
  border-bottom: 1px soli#678fa8;
  border-top: 1px solid #9ac2db;
}
.main-nav__logo-item {
  display: none;
}
