$fixies-grad: linear-gradient(to bottom, rgba(80, 109, 185, .8) 0%, rgba(87, 160, 158, .8) 100%);
$cruisers-grad: linear-gradient(to bottom, rgba(170, 120, 210, .8) 0%, rgba(215, 157, 232, .8) 100%);


$fixies-font-fam: "HighTide", sans-serif;
$cruisers-font-fam: "Thunder Strike", sans-serif;
$fixies-mob: 80px $fixies-font-fam;
$cruisers-mob: 80px $cruisers-font-fam;
$fixies-desk: 150px $fixies-font-fam;
$cruisers-desk: 150px $cruisers-font-fam;

$gray: rgb(89, 95, 111);
$border: rgb(77, 83, 98);
$light-gray: rgb(168, 177, 179);
$text-color: rgb(195, 195, 195);

$mask: rgba(255, 255, 255, 0.3);