.slider{
  position: relative;
  
  width: 260px;
  height: 415px;
  
  overflow: hidden;
  margin: 2em auto;
  
  @media screen and (min-width: 768px){
    width: 100%;
    margin: 5em auto 0;
    
    
    overflow: visible;
  }
  
  @media screen and (min-width: 1024px){
    margin: 5em auto;
  }
  
  &__container{
    position: absolute;
    
    width: 9999px;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 0;
    
    @media screen and (min-width: 768px){
      width: 100%;
      margin: 0 auto;
    }
    
  }
  
  &__elem{
    display: inline-block;
    
    margin: 0;
    padding: 0;
    width: 260px;
    
    transition: margin .8s ease-in;
    
    @media screen and (min-width: 768px) {
      margin-right: 2.5%;
      width: 18%;
    }  
    
    &:nth-child(5n){
      margin-right: 0;
    }
  }
  
  &__pagination{
    position: absolute;
    
    bottom: 5%;
    left: 50%;
    margin-left: -57.5px;
    
    list-style: none;
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.pagination-list{
  &__item{
    display: inline-block;
    position: relative;
    
    height: 10px;
    width: 10px;
    
    margin-right: 5px;
    
    background: $brand-danger;
    border-radius: 50%;
    
    &.active{
      width: 10px;
      height: 10px;
      
      border-radius: 50%;
      background: $brand-success;
    }
  }
}