.content-features {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}
.content-features__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
