.intro-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  background-image: url("IMG/photo-background@1x.jpg");
  background-position: 50% 35%;
  background-size: 1200px 800px;
  background-color: #fff;
  background-repeat: no-repeat;
  z-index: 1;
}
.intro-content__inner {
  min-width: 320px;
  max-width: 480px;
}
.intro-content__text {
  display: flex;
}
.intro-content__text--sedona {
  width: 40%;
  margin: 0 auto;
}
@media (min-resolution: 2dppx) {
  background-image: url("IMG/photo-background@2x.png");
}
